* {
    padding: 0;
    margin: 0;
    font-family: Calibri, Helvetica, Arial;
}

html, body {
    height: 100%;
}

body {
    display: none;
}

    body > div {
        min-height: 100%;
        position: relative;
        
        background: #398235; /* Old browsers */
		background: -moz-linear-gradient(top,  #398235 0%, #8ab66b 62%, #c9de96 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#398235), color-stop(62%,#8ab66b), color-stop(100%,#c9de96)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #398235 0%,#8ab66b 62%,#c9de96 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #398235 0%,#8ab66b 62%,#c9de96 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #398235 0%,#8ab66b 62%,#c9de96 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #398235 0%,#8ab66b 62%,#c9de96 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#c9de96',GradientType=0 ); /* IE6-9 */
    }

.actionButton {
	cursor: pointer;
}

#content {
    padding-bottom: 50px;
    position: relative;
    text-align: center;
}

    #content .actionButton {
        background: #604800; /* Old browsers */
		background: -moz-linear-gradient(top,  #604800 0%, #847b4e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#604800), color-stop(100%,#847b4e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #604800 0%,#847b4e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #604800 0%,#847b4e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #604800 0%,#847b4e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #604800 0%,#847b4e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#604800', endColorstr='#847b4e',GradientType=0 ); /* IE6-9 */
		border-radius: 5px;
        border: 0px;
        padding: 5px 10px;
        color: white;
    }

#home {
    padding-top: 40px;
}

#menu {
    clear: both;
    width: 100%;
    min-height: 50px;
    height: 50px;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

    #menu ul {
        list-style-type: none;
        height: 100%;
        overflow: hidden;
    }

        #menu ul li {
            float: left;
            display: inline-block;
            width: 33.33%;
            height: 100%;
            text-align: center;
            
            background: #604800; /* Old browsers */
			background: -moz-linear-gradient(top,  #604800 0%, #847b4e 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#604800), color-stop(100%,#847b4e)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #604800 0%,#847b4e 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #604800 0%,#847b4e 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #604800 0%,#847b4e 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #604800 0%,#847b4e 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#604800', endColorstr='#847b4e',GradientType=0 ); /* IE6-9 */

            
        }
		
		#menu ul li:hover
		{
		    cursor: pointer;
		}

            #menu ul li div 
            {
                width: 100%;
                height: 100%;
                margin-top: 10px;
                font: bold;
            }

                #menu ul li div.personalData {
                    background-position: 2px -44px;
                }

                #menu ul li div.about {
                    background-position: 2px -87px;
                }
