.search {
    padding-top: 20px;
}

    .search h3,
    .search .actionButton {
        margin-top: 20px;
    }

    .search .actionButton {
        margin-bottom: 10px;
    }

    .search select,
    .search option,
    .search input {
        color: black;
    }

.searchResults {
    padding-top: 20px;
}

    .searchResults > ul {
        list-style-type: none;
    }

        .searchResults > ul li {
            padding: 5px;
            border-top: 1px solid white;
        }
        
        .searchResults > ul li div{
            cursor: pointer;
        }

            .searchResults > ul li:last-child {
                border-bottom: 1px solid white;
            }

    .searchResults .seats .actionButton {
        margin-top: 3px;
    }
    
 .selectedSearchItem
 {
 	background-color: rgba(250,250,250,0.5);
 }

 .navigate
 {
 	position: fixed;
 	bottom: 60px;
 	height: 30px;
	width: 100%;
 	z-index: 9;
 }
 
	 .navigate input
	 {
	 	position: relative;
	 	height: 100%;
	 	width: 110px;
	 }
 
 .errorMessage
 {
 	padding-left: 10%;
 	font-size: large;
 	color: red;
	font-weight: bold;
 	position: fixed;
 	bottom: 100px;
 	z-index: 9;
 }