<div id="about">
    <h1>Nofshon</h1>
    <h3>Vacation-order site, Which enables each user to order flights & Hotels</h3>
    <h3>2014A Web Development @ MTA-Collage</h3>
    <h3>Lecture: dr Uzi Hadad</h3>
    <img src="/vacation/Content/Images/logo.png" />
    <h3>Written by:
    </h3>
    <ul>
        <li>
            <a href="mailto:lior.mati@gmail.com">Lior Matityahu</a>
        </li>
        <li>
            <a href="mailto:yaffelior@gmail.com">Lior Yaffe</a>
        </li>
        <li>
            <a href="mailto:yuval15@gmail.com">Yuval shkolar</a>
        </li>
    </ul>
    <span>All the rights belong to Nofshon team © 2013</span>
</div>
