<div id="flightSearchResults" class="searchResults">
    <h2 data-bind="text: title"></h2>
    <ul class="flights" data-bind="foreach: results()">
        <li>
            <div class="searchOption" data-bind="click: flightClick">
                <div data-bind="text: ' Flight #' + flightId() + ' of ' + airline()">
                </div>
                <div data-bind="text: 'From: ' + departAirport() + ' To: ' + arrivalAirport()">
                </div>
                <div data-bind="text: 'On: ' + departDate()">
                </div>
                <div data-bind="text: 'Cost: ' + cost() + '$'">
                </div>
            </div>
        </li>
    </ul>
    <input id="nextStep" data-bind="click: nextStep" style="display: none" type="button" class="actionButton continue" value="Continue" />
    <!-- <div>			  
		<span data-bind="visible: hotelsFailed()">Failed to fetch suitable hotels</span>
	</div> -->
</div>
