<div id="flightSearchResults" class="searchReasults">
    <h2>Flights found:</h2>
    <ul class="flights" data-bind="foreach: results()">
        <li>
            <div data-bind="click: flightClick">
                <div data-bind="text: ' Flight #' + flightId() + ' of ' + airline()">
                </div>
                <div data-bind="text: 'From: ' + departAirport() + ' To: ' + arrivalAirport()">
                </div>
                <div data-bind="text: 'On: ' + departDate()">
                </div>
                <div data-bind="text: 'Cost: ' + cost() + '$'">
                </div>
                <input type="hidden" data-bind="value: flightId()" />
            </div>
        </li>
    </ul>
    <input data-bind="click: continueToHotel" style="display: none" type="button" class="actionButton" value="Continue" />
</div>
