<div id="hotelSearchResults" class="searchResults">
    <h2>Choose hotel:</h2>
    <ul class="hotels" data-bind="foreach: results()">
        <li>
            <div class="searchOption" data-bind="click: hotelClick" >
                <div data-bind="text: 'Hotel Name: ' + name()" >
                </div>
                <div data-bind="text: 'City: ' + cityName()">
                </div>
                <div data-bind="text: 'Address: ' + address()">
                </div>
                <div data-bind="text: 'Cost Per Night: ' + cost() + '$'">
                </div>
                <div>
                	<span># Nights: </span>
	                <select data-bind="options: nightsValues()" class="nightsNum" disabled>
	                	<option data-bind="text: $data, attr: { value: $data }"></option>
	            	</select>
            	</div>
            </div>
        </li>
    </ul>
    <input id="continueToFlight" data-bind="click: continueToFlight" style="display: none" type="button" class="actionButton continue" value="Continue" />
</div>