<div id="personalData">
    <h2>Personal Data</h2>
    <div>
        <span data-bind="text: 'UserName: ' + userName()"></span>
    </div>
    <div>
        <span data-bind="text: 'Name: ' + name()"></span>
    </div>
    <div>
        <span data-bind="text: 'Email: ' + email()"></span>
    </div>
    <div>
        <span data-bind="text: 'Address: ' + address()"></span>
    </div>
    <div>
        <span data-bind="text: 'Phone: ' + phone()"></span>
    </div>
    <div>
        <span data-bind="text: 'Registration Date: ' + regDate()"></span>
    </div>
    <div>
        <input type="button" class="actionButton" value="Orders" data-bind="click: ordersClick" />
    </div>
    <div>
        <span data-bind="visible: failed()">Failed to load user's orders</span>
    </div>
</div>
