#orders {
    padding-top: 20px;
}

    #orders ul li {
        margin-top: 15px;
    }

    #orders .order {
        width: 180px;
        margin: 0 auto;
        text-align: left;
        list-style-type: none;
    }

#newOrder div {
	padding: 2px;
}

#newOrder div.errorMessage {
 	padding-left: 10%;
 	font-size: large;
 	color: red;
	font-weight: bold;
 	position: fixed;
 	bottom: 100px;
 	z-index: 9;
}

#newOrder #totalPrice {
	font-weight: bold;
}

#newOrder .navigate
{
	position: fixed;
	bottom: 60px;
	height: 30px;
	width: 100%;
	z-index: 9;
}
 
	 #newOrder .navigate input
	 {
	 	position: relative;
	 	height: 100%;
	 	width: 110px;
	 }

