<div id="HotelSearch">
    <h2>2) Search for hotel
    </h2>
    <div>
        <h3>Name
        </h3>
        <div>
            <input data-bind="value: name" type="date" />
        </div>
        <h3>Minimum cost:
        </h3>
        <div>
            <input data-bind="value: minCost" type="date" />
        </div>
        <h3>Maximum cost:
        </h3>
        <div>
            <input data-bind="value: maxCost" type="tel" />
        </div>
    </div>
    <input data-bind="click: search" type="button" class="actionButton" value="Search" />
    <div>
        <span data-bind="visible: failed()">Search returned 0 results.</span>
    </div>
</div>
